<%- include("partials/header"); -%>
<h1>Home</h1>
<p><%- content -%></p>
<!-- <%- posts.title -%> -->
<!-- <% for (var i = 0; i<posts.length; i++){console.log(posts[i].title);} %> -->
<% posts.forEach(function(item, index){console.log(item.title)}) %>

<%- include("partials/footer"); -%>
